@import "../constants.css";

.node-grid__wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: calc((var(--hexagon-height) + var(--hexagon-spacing)));
  overflow: hidden;
}

.node-grid {
  font-size: 0;
  background-color: var(--secondary-color);
  overflow: hidden;
  margin-left: calc(-1 * (var(--hexagon-width) / 2 + var(--hexagon-spacing)));
  margin-top: calc(-1 * (var(--hexagon-width) / 2 + var(--hexagon-spacing)));
}

.node-grid::before {
  content: "";
  width: calc(var(--hexagon-width) / 2 + var(--hexagon-spacing));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--hexagon-alignment) - 0.1rem),
    #000 0 var(--hexagon-alignment)
  );
}
