@import "../constants.css";

.modal-content {
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color) !important;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  border-radius: 0;
}

.modal-header {
  border-bottom: none;
  padding: 0;
}

.modal-title {
  text-transform: none;
  padding: 0;
  margin: 1rem;
  color: var(--secondary-accent-color);
}

.modal-footer {
  border-top: none;
  justify-content: space-between;
  padding: 0;
}

.modal-body {
  padding: 0;
  margin: 1rem;
  margin-top: 0;
  color: var(--modal-body-font-color);
  min-height: 20rem;
}

.modal-button {
  background-color: inherit;
  border: none;
  margin: 1rem;
  margin-top: -0.75rem;
  padding: 0;
  font-size: 0.875rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.modal-button:hover {
  color: var(--secondary-accent-color);
  background-color: inherit;
}

.modal-button:focus {
  background-color: inherit;
}

.modal-button-icon {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.intro-page-number {
  margin: 1rem;
  margin-left: 0;
  font-size: 1rem;
}

.intro-body {
  padding: 0;
  margin: 0;
  margin-bottom: 0.75rem;
}

.intro-body-bold {
  color: var(--primary-light-color);
}

.inline-node {
  transform: scale(0.8);
  margin: -0.42rem 0.2rem -0.2rem 0.1rem;
  vertical-align: middle;
}

.contact-links {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-top: -1.75rem;
}

.contact-links * {
  float: left;
  margin: 0;
}

.contact-link {
  padding: 0;
  margin: 0 0.5rem;
}

ion-icon {
  font-size: 1.5rem;
  line-height: 0;
  pointer-events: none;
}
