@import "../constants.css";

.navbar,
.navbar-toggler,
.nav-link,
.dropdown-menu,
.dropdown-item,
.offcanvas {
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color) !important;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.navbar {
  padding: 0;
  z-index: 1000;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(max-content, 1fr) max-content 1fr;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

.navbar-toggler,
button {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:hover,
.nav-link:hover,
.dropdown-item:hover {
  background-color: initial;
  color: var(--secondary-accent-color) !important;
}

.nav-link,
.navbar-toggler {
  margin: 1rem;
  padding: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}

#visualize-button {
  margin: 0.75rem;
  padding: 0.25rem;
  background-color: var(--secondary-accent-color);
  color: var(--primary-dark-color) !important;
  border-radius: 0.2rem;
}

#visualize-button:hover {
  background-color: var(--primary-dark-color);
  color: var(--secondary-accent-color) !important;
}

.dropdown {
  margin: auto 0;
}

.dropdown-menu {
  border-radius: 0;
  border: none;
}

.offcanvas-header {
  padding: 0;
  justify-content: start;
}

.offcanvas-title {
  font-size: 1.75rem;
}

.offcanvas-body {
  padding: 0;
}

.offcanvas {
  height: max-content;
}

.toggle-button-group {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  width: fit-content;
}

.toggle-button {
  background-color: #364145;
  margin: 0.75rem 0.125rem;
  padding: 0.1rem;
  border: none;
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.toggle-button-checked,
.toggle-button:hover,
.toggle-button:focus,
.toggle-button:active {
  background-color: var(--secondary-accent-color) !important;
}

.display-node-border {
  background-color: #364145;
  padding: 0.05rem;
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}
