body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  background-color: inherit;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-accent-color);
  border-radius: 500px;
}
