:root {
  /* Size Constants */
  --hexagon-width: 1.5rem;
  --hexagon-spacing: 0.0175rem;
  --hexagon-alignment: calc(
    var(--hexagon-width) * 1.732 + 4 * var(--hexagon-spacing) - 1px
  );

  /* Color Constants */
  --primary-color: #1f282f;
  --secondary-color: #364145;
  --primary-accent-color: #1b716f;
  --secondary-accent-color: #a3f7bf;
  --tertiary-accent-color: #fff41c;
  --quaternary-accent-color: #e9f7a3;
  --primary-light-color: #d1ecff;
}
