:root {
  /* Size Constants */
  --hexagon-width: 1.5rem;
  --hexagon-height: calc(var(--hexagon-width) * 1.1547);
  --hexagon-spacing: 0.0175rem;
  --hexagon-alignment: calc(
    var(--hexagon-width) * 1.732 + 4 * var(--hexagon-spacing) - 1px
  );
  --weight-font-size: 1.375rem;

  /* Color Constants */
  --primary-color: #1f282f;
  --secondary-color: #364145;
  --primary-accent-color: #1b716f;
  --secondary-accent-color: #a3f7bf;
  --tertiary-accent-color: #00ffa6;
  --quaternary-accent-color: #45ffda;
  --primary-light-color: #eaf6ff;
  --primary-dark-color: #171f26;
  --weight-font-color: var(--primary-light-color);
  --start-and-target-font-color: var(--secondary-accent-color);
  --path-font-color: var(--primary-color);
  --modal-body-font-color: #eaf6ff94;
}
/*0b0d12*/
