@import "./constants.css";

.navbar,
.navbar-toggler,
.nav-link,
.dropdown-menu,
.dropdown-item,
.offcanvas {
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color) !important;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.navbar {
  padding: 0;
}

.navbar-toggler,
button {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:hover,
.nav-link:hover,
.dropdown-item:hover {
  background-color: initial;
  color: var(--secondary-accent-color) !important;
}

.nav-link,
.navbar-toggler {
  margin: 1rem;
  padding: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
  width: fit-content;
}

.dropdown {
  margin: auto 0;
}

.dropdown-menu {
  border-radius: 0;
  border: none;
}

.offcanvas-header {
  padding: 0;
  justify-content: start;
}

.offcanvas {
  height: max-content;
}

.toggle-button-group {
  display: flex;
  align-items: center;
  width: fit-content;
}

.toggle-button {
  background-color: #364145;
  margin: 0.75rem 0.125rem;
  padding: 0.1rem;
  border: none;
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.toggle-button-checked,
.toggle-button:hover,
.toggle-button:focus,
.toggle-button:active {
  background-color: var(--secondary-accent-color) !important;
}

.display-node-border {
  background-color: #364145;
  padding: 0.05rem;
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.legend-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
}

.legend-entree {
  margin: 1rem;
}

.legend-entree__heading {
  display: flex;
  align-items: center;
}

.legend-entree__node {
  margin-right: 0.5rem;
}

.legend-entree__title {
  margin: 0;
  font-size: 1.125rem;
}

.legend-entree__description {
  margin-top: 0.5rem;
  opacity: 0.375;
  font-size: 0.75rem;
}
