@import "./constants.css";

.node {
  width: var(--hexagon-width);
  height: calc(var(--hexagon-width) * 1.1547);
  margin: var(--hexagon-spacing);
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--hexagon-spacing) - var(--hexagon-width) * 0.2886);
  background-color: var(--primary-color);
  overflow: hidden;
  text-align: center;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.node-is-start {
  color: var(--start-and-target-font-color);
}

.node-is-target {
  color: var(--start-and-target-font-color);
}

.material-symbols-outlined {
  font-size: 1.4rem;
  line-height: var(--hexagon-height);
  animation: isStartOrTargetNodeAnimation 0.375s forwards;
}

@keyframes isStartOrTargetNodeAnimation {
  25% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.node-is-wall {
  animation-name: isWallNodeAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes isWallNodeAnimation {
  25% {
    transform: scale(0);
    border-radius: 100%;
  }

  50% {
    background-color: var(--primary-light-color);
  }

  75% {
    transform: scale(1.1);
    background-color: var(--primary-light-color);
  }

  100% {
    transform: scale(1.0625);
    background-color: var(--primary-light-color);
  }
}

.node-is-weight {
  color: var(--weight-font-color);
}

.node-is-small-weight::after {
  content: "5";
}
.node-is-medium-weight::after {
  content: "10";
}
.node-is-large-weight::after {
  content: "25";
}

.node-is-weight::after {
  font-size: 0;
  font-family: "Kanit", sans-serif;
  opacity: 0.25;
  line-height: var(--hexagon-height);
  animation: isWeightNodeAnimation 0.375s forwards;
}

@keyframes isWeightNodeAnimation {
  25% {
    font-size: 0;
  }

  75% {
    font-size: calc(var(--weight-font-size) * 1.1);
  }

  100% {
    font-size: var(--weight-font-size);
  }
}

.node-is-visited {
  animation: isVisitedNodeAnimation 1.5s forwards;
}

@keyframes isVisitedNodeAnimation {
  25% {
    transform: scale(0);
    background-color: initial;
    border-radius: 100%;
  }

  50% {
    background-color: var(--secondary-accent-color);
  }

  75% {
    transform: scale(1.1);
    background-color: var(--secondary-accent-color);
  }

  100% {
    transform: scale(1);
    background-color: var(--primary-accent-color);
  }
}

.node-is-path {
  animation: isPathNodeAnimation 1.5s forwards;
}

@keyframes isPathNodeAnimation {
  25% {
    transform: scale(0);
    background-color: var(--primary-accent-color);
    color: var(--path-font-color);
    border-radius: 100%;
  }

  50% {
    background-color: var(--quaternary-accent-color);
  }

  75% {
    transform: scale(1.1);
    background-color: var(--quaternary-accent-color);
  }

  100% {
    transform: scale(1.0625);
    background-color: var(--tertiary-accent-color);
    color: var(--path-font-color);
  }
}
