@import "./constants.css";

.node {
  width: var(--hexagon-width);
  height: calc(var(--hexagon-width) * 1.1547);
  margin: var(--hexagon-spacing);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--hexagon-spacing) - var(--hexagon-width) * 0.2886);
  background-color: var(--primary-color);
}

.node-is-start {
  background-color: green;
}

.node-is-target {
  background-color: red;
}

.node-is-wall {
  animation-name: isWallNodeAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes isWallNodeAnimation {
  25% {
    transform: scale(0);
    background-color: initial;
    border-radius: 100%;
  }

  50% {
    background-color: var(--primary-light-color);
  }

  75% {
    transform: scale(1.1);
    background-color: var(--primary-light-color);
  }

  100% {
    transform: scale(1.0625);
    background-color: var(--primary-light-color);
  }
}

.node-is-visited {
  animation-name: isVisitedNodeAnimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes isVisitedNodeAnimation {
  25% {
    transform: scale(0);
    background-color: initial;
    border-radius: 100%;
  }

  50% {
    background-color: var(--secondary-accent-color);
  }

  75% {
    transform: scale(1.075);
    background-color: var(--secondary-accent-color);
  }

  100% {
    transform: scale(1);
    background-color: var(--primary-accent-color);
  }
}

.node-is-path {
  animation-name: isPathNodeAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes isPathNodeAnimation {
  25% {
    transform: scale(0);
    background-color: initial;
    border-radius: 100%;
  }

  50% {
    background-color: var(--quaternary-accent-color);
  }

  75% {
    transform: scale(1.075);
    background-color: var(--quaternary-accent-color);
  }

  100% {
    transform: scale(1.0625);
    background-color: var(--tertiary-accent-color);
  }
}

.node-is-weight {
  overflow: hidden;
}

.node-is-weight p {
  color: var(--weight-font-color);
  font-size: var(--weight-font-size);
  font-family: "Kanit", sans-serif;
  letter-spacing: normal;
  line-height: var(--hexagon-height);
  text-align: center;
  overflow: hidden;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation-name: isWeightNodeAnimation;
  animation-duration: 0.375s;
  animation-fill-mode: forwards;
}

@keyframes isWeightNodeAnimation {
  0% {
    font-size: calc(var(--weight-font-size) * 0);
  }

  25% {
    font-size: calc(var(--weight-font-size) * 0);
  }

  75% {
    font-size: calc(var(--weight-font-size) * 1.075);
  }

  100% {
    font-size: calc(var(--weight-font-size) * 1);
  }
}
